*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.nav {
    background-color: #1500FF;
    display: flex;
    justify-content: space-between;
    padding: 30px 50PX  ;
}

.nav h1 {
    font-size : 45px ;
}

.nav__cherch {
    align-self: center;
    margin: 0 auto;
    position: relative;
}

.nav__cherch::before {
    content: '';
    position: absolute;
    top: 5px ;
    left: 7px;
    background-image: url(image/search-interface-symbol.png);
    background-size: cover;
    background-position: center;
    width: 17px ;
    height: 17px;
}

.nav__cherch input {
    padding: 6px 30px;
    border: none ;
    border-radius : 20px ;
    outline: none;
}

.callendri {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(7 , minmax(50px , 1fr));
    gap: 20px;
    margin: 30px auto;
}

.days {
    background-color: #DEDEDE;
    border-radius: 15px;
    height: auto;
    display: grid;
    grid-template-rows: 100px 1FR;
    padding: 20px;
    transition: all 0.3s ease;
}

.activ:hover {
    background-color: #1F2DF2;
    box-shadow: 0 10px 20px #797979;
    transform: translateY(-8px);
}
.unactive {
    pointer-events: none;
}
.courrent__date {
    font-size: 1.5rem;
    font-weight: bold;

}

.detaille__reservation {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.nemr__UserReserver {
    font-size: 14px;
}




